<ng-container *transloco="let t; prefix: 'manage-system'">
  @if (serverInfo) {
    <div class="mb-3">
      <h3>{{t('title')}}</h3>

      <div class="row">
        <div class="col-4">
          <div>{{t('version-title')}}</div>
          <div>{{serverInfo.kavitaVersion}}</div>
        </div>

        <div class="col-4">
          <div>{{t('installId-title')}}</div>
          <div>{{serverInfo.installId}}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div>{{t('first-install-version-title')}}</div>
          <div>{{serverInfo.firstInstallVersion}}</div>
        </div>

        <div class="col-4">
          <div>{{t('first-install-date-title')}}</div>
          <div>{{serverInfo.firstInstallDate | date:'shortDate'}}</div>
        </div>
      </div>
    </div>

    <div class="setting-section-break"></div>
  }

  <div class="mb-3">
    <h3>{{t('more-info-title')}}</h3>
    <div class="row">
      <div class="col-4">{{t('home-page-title')}}</div>
      <div class="col"><a href="https://fathomreader.com" target="_blank" rel="noopener noreferrer">fathomreader.com</a></div>
    </div>
    <div class="row">
      <div class="col-4">{{t('source-title')}}</div>
      <div class="col"><a href="https://github.com/risacaph/Kavita" target="_blank" rel="noopener noreferrer">github.com/risacaph/Kavita</a></div>
    </div>
  </div>

  <div class="setting-section-break"></div>

  <div class="mb-3">
    <h3>{{t('updates-title')}}</h3>
    <app-changelog />
  </div>
</ng-container>
